body{
    background-color: black;
    font-family: Verdana;
}
.header{
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
.link{
    color:aquamarine;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}
.phone{
    width:404px;
    margin: 0 auto;
    margin-top: 20px;
}
.video_subtext{
    text-align: center;
    color:white;
    font-size: 32px;
}